@mixin flex-vertical($gap) {
    display: flex;
    flex-direction: column;
    gap: $gap;
    align-items: center;
}

@mixin flex-horizontal($gap) {
    display: flex;
    column-gap: $gap;
    justify-content: center;
    flex-wrap: wrap;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}